{% extends "skeleton.html" %}
{% block title %}Home | {{site_title }}{% endblock %}
{% block logo %}{% endblock %}
{% block content %}
        <div id="intro"></div>
        <section class="section modular bg-alt">
            <section class="container">
                <div class="intro">
                    <img alt="picture of &nbsp;{{site_title }}" class="intro__img circle" src="{{ profile }}" />

                    <div class="intro__content  with-img  ">
                        <h2>Hi, I'm&nbsp;{{ site_title }}!</h2>
                        <h4><em>{{ description }}</em></h4>

                        <div class="intro__links">
                            <a href="mailto:{{ email }}" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://github.com/{{ github }}" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>

                            <a href="https://twitter.com/{{twitter}}" target="_blank">
                                <i class="fab fa-twitter"></i>

                            <a href="{{mastodon}}" rel="me" target="_blank">
                                <img src="/img/fediverse.svg" alt="Fediverse" style="height: 1em; width: 1em; filter: invert(56%) sepia(14%) saturate(2757%) hue-rotate(173deg) brightness(99%) contrast(89%);"/>
                            </a>

                            <a href="https://matrix.to/#/{{matrix}}" target="_blank">
                                <img src="/img/matrix.svg" alt="Matrix" style="height: 1em; width: 1em;">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <div id="about"></div>
        <section class="section modular ">
            <section class="container">
                <div class="about">
                    <h2>About Me</h2>
                    <p>{{ about }}</p>
<!--
                    <div class="about__details">
                        <div class="about__detail">
                            <div class="about__detail__icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <h4>Quality Code</h4>
                            <div>I care about more than just correctness; my code isn't ready to go until it's
                                organized, optimized, and documented.  The awful state of this website is my greatest achievement yet.</div>
                        </div>
                        <div class="about__detail">
                            <div class="about__detail__icon">
                                <i class="fas fa-comments"></i>
                            </div>
                            <h4>Clear Communication</h4>
                            <div>Garbled words</div>
                        </div>
                        <div class="about__detail">
                            <div class="about__detail__icon">
                                <i class="fas fa-handshake"></i>
                            </div>
                            <h4>Open Source</h4>
                            <div>I'm a firm believer that collaboration and sharing produce the best results, including
                                in software, so I release my code as open source whenever possible.  That's why this my
                                GitHub account is so chaotic it necessitates this website.</div>
                        </div>
                    </div>-->
                </div>
            </section>
        </section>

        <div id="projects"></div>
        <section class="section modular bg-alt">
            <section class="container">

                <div class="projects projects-2">
                    <h2>Projects</h2>
                    <p>Have a look at some cool stuff I made :3</p>

                    <div class="projects__cards">

                        {% for project in projects %}
                        <script>
                            addToProjectPage(2, 0,
                                '<div class="projects__item projects__card">' +
                                '<a href="{{project.url}}" target="_blank">' +
                                {% if project.img != 'none' %}
                                    '<img alt="{{project.name}}" class="projects__card__img" src="{{project.img}}" />' +
                                {% endif %}
                            '<div class="projects__card__txt">' +
                                '<h4>{{project.name}}</h4>' +
                                '<div>{{project.description}}</div>' +
                                '</div>' +
                                '</a>' +
                                '</div>' +

                                ''
                                                        );
                        </script>
                        {% endfor %}

                        <!--script>
                            addToProjectPage(2, 1,
                                '<div class="projects__item projects__card">' +
                                    '<a href="#" target="_blank">' +
                                        '<img alt="arch-install" class="projects__card__img" src="/user/pages/01.home/_projects/arch-install.png" />' +
                                        '<div class="projects__card__txt">' +
                                            '<h4>arch-install</h4>' +
                                            '<div>Bash scripts to install and setup Arch Linux</div>' +
                                        '</div>' +
                                    '</a>' +
                                '</div>' +

                                                            '<div class="projects__item projects__show-more--1">' +
                                        '<button onClick="showProjectPage(2, 2)">' +
                                            'Show more' +
                                        '</button>' +
                                    '</div>'
                                                    );
                        </script-->


                    </div>
                    <script>
                        showProjectPage(2, 0);
                    </script>
                </div>
            </section>
        </section>

        <div id="friends"></div>
        <section class="section modular bg-alt">
            <section class="container">
                <div class="friends friends-2">
                    <h2>frens :3</h2>
                    <p>totally random badges, nothing to see here :3</p>

                    <a href="https://awawa.neocities.org">
                      <img src="https://awawa.neocities.org/buttons/awawa.png" target="_blank" title="awawa.neocities.org">
                    </a>

                    <a href="https://flufftech.net">
                      <img src="https://flufftech.net/button.png" target="_blank" title="flufftech.net">
                    </a>                    
                </div>
            </section>
            <section class="container">
              <div class="orgs">
                <h2>organisations and silly things</h2>

                <a class="88x31" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/NoBinaryNoProblem.png.webp" target="_blank" title="No binary? No problem!">
                </a>
                <a class="88x31" href="https://mozilla.org/firefox" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/mozilla.png" title="firefox badge">
                </a>
                <a class="88x31" href="https://archive.org/" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/internetarchive.png" title="internet archive">
                </a>
                <a class="88x31" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/css-difficult.gif" title="proud css user">
                </a>
                <a class="88x31" href="https://yesterweb.org/no-to-web3/" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/noweb3.gif" title="no web 3">
                </a>
                <a class="88x31" href="https://jointhefediverse.net" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/federate.jpg" title="join the fediverse">
                </a>
                <a class="88x31" href="https://neovim.io/" target="_blank" rel="noopener noreferrer">
                  <img src="/buttons/neovim.gif" title="neovim is the way">
                </a>
              </div>
            </section>
        </section>
{% endblock %}
