{% extends "skeleton.html" %}
{% block title %}
{{ site_title }}/blog/{{ item.title }}
{% endblock %}
{% block location %}
/blog/{{ item.date | replace(' ', '_') }}-{{ item.title | replace(' ', '_') }}.html{% endblock %}
{% block head %}
<link href="/css/shariff.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
        <section class="section modular bg-alt">
            <section class="container">
                <b>{{ item.date }} |  {{ item.title }} </b>
                <p>
                {% if item.bodyfile is defined %}
                {% include './posts/' + item.bodyfile + '.html' %}
                {% else %}
                {{ item.body | replace('\n', '<br>')}}
                {% endif %}
            </section>
            <div class="shariff"></div>
            <script src="/js/shariff.min.js"></script>
        </section>
{% endblock %}
