<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="darkphoenix&#039;s personal website" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href="{{ site_url }}{% block location %}{% endblock %}" />
    <link rel="alternate" type="application/rss+xml" title="darkphoenix&#039;s blog" href="https://evilcyberhacker.net/feed/" />
    <style>
        :root {
            --webfolio-color-bg: #181a1b;
            --webfolio-color-bg-alt: ##1b1d1e;
            --webfolio-color-bg-blockquote: #1e2122;
            --webfolio-color-bg-code: #1f2223;
            --webfolio-color-bg-hover: #2e3234;
            --webfolio-color-text: #bdb7af;
            --webfolio-color-text-light: #aba499;
            --webfolio-color-text-dark: #c4bfb7;
            --webfolio-color-text-hover: #c4bfb7;
            --webfolio-color-accent: #3f9def;
            --webfolio-color-accent-hover: #0e58b3;
            --webfolio-color-required: #ff792a;
            --webfolio-color-border: #373c3e;
            --webfolio-color-border-blockquote: #2a507f;
        }
    </style>



    <link href="/css/normalize.css" type="text/css" rel="stylesheet">
    <link href="/css/theme.min.css" type="text/css" rel="stylesheet">
    <link href="/css/custom.css" type="text/css" rel="stylesheet">

    <script src="/js/jquery-2.x.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/singlepagenav.min.js"></script>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.jbtec.eu/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

    {% block head %}{% endblock %}

</head>

<body id="top" class="">

    <header id="header" class="header">
        <div class="header__content">
            {% block logo %}
            <div class="header__logo">
                <a href="/">
                    <img alt="{{ site_title }}" class="logo__img" src="/img/profile.jpg" />
                </a>
            </div>
            {% endblock %}

            <nav class="nav--main__nav">

                <ul class="navigation">
                    <li>
                        <a class="active " href="/">Home</a>
                        <button class="nav__dropdown">
                            <i class="nav__dropdown__icon fas fa-chevron-down"></i>
                        </button>

                        <ul>
                            <li>
                                <a class=" internal" href="/#intro">Intro</a>
                            </li>
                            <li>
                                <a class=" internal" href="/#about">About</a>
                            </li>
                            <li>
                                <a class=" internal" href="/#projects">Projects</a>
                            </li>
                        </ul>
                    <li>
                        <a class=" " href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="body">
        {% block content %} {% endblock %}
    </section>

        <footer class="footer">
            <span class="footer__links">
                <a href="mailto:{{ email }}" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>

                <a href="https://github.com/{{ github }}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://twitter.com/{{ twitter }}" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="{{ mastodon }}" target="_blank">
                  <img src="/img/fediverse.svg" style="height: 1em; width: 1em; filter: invert(56%) sepia(14%) saturate(2757%) hue-rotate(173deg) brightness(99%) contrast(89%);" alt="Fediverse"/>
                </a>

                <a href="https://matrix.to/#/{{matrix}}" target="_blank">
                    <img src="/img/matrix.svg" style="height: 1em; width: 1em;" alt="Matrix">
                </a>
                |
            </span>
            <span class="footer__credit">
                &copy; darkphoenix 2024
            </span>
        </footer>

        <button class="nav--mobile__toggle" id="nav-mobile-toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </button>

        <div class="nav--mobile__overlay" id="nav-mobile-overlay">
            <div class="nav--mobile__overlay__logo">
            </div>
            <nav class="nav--mobile__nav">
                <ul class="navigation">
                    <li>
                        <a class="active " href="/">Home</a>
                        <button class="nav__dropdown">
                            <i class="nav__dropdown__icon fas fa-chevron-down"></i>
                        </button>
                        <ul>
                            <li>
                                <a class=" internal" href="/#intro">Intro</a>
                            </li>
                            <li>
                                <a class=" internal" href="/#about">About</a>
                            </li>
                            <li>
                                <a class=" internal" href="/#projects">Projects</a>
                            </li>
                            <li>
                                <a class=" internal" href="/#contact">Contact</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class=" " href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
        <script>
            // singlePageNav initialization & configuration
            $('ul.navigation').singlePageNav({
                offset: $('#header').outerHeight(),
                filter: '.internal',
                updateHash: false,
                currentClass: 'active'
            });
        </script>

</body>

</html>
